

/*big tablet to 1200px (width smaller that the 1140px row)*/
@media only screen and (max-width: 1200px) {
.hero-text-box {
      width: 100%;
      margin-left: 50px;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      text-align: left;

  }
.row {padding: 0 2%;}
}

/*small tablet to big tablet from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
  body {font-size: 18px;}
  section {padding: 60px 0;}
  .meals-selection {
      list-style: none;
      width: 100%;}
  .step-box {margin-top: 10px;}
  .work-step {
    margin-bottom: 20px;
    font-size: 16px
  }
  .first-button .second-button {
    font-size: 18px;
    padding: 10px 10px;
  }
  .menu {
    font-size: 16px;
  }

}

/*small phones to small tablets from 481px to 767px*/
@media only screen and (max-width: 767px) {
  h1 {font-size: 180%;}
  h2 {font-size: 150%;}
  body {font-size: 16px;}
  section{padding: 30px 0;}

  .row,
  .hero-text-box {padding: 0 4%;}
  .col { width: 100%;}
  .main-nav {display:none;}
  .work-step {
      margin-bottom: 20px;
      width: 100%
  }
  .work-step:last-of-type {
      margin-bottom: 20px;
}
.work-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%;
}
.work-step p {
  width: 450px;
}
.app-button {
  display: none;
}




/*small phone from 0 to 480px*/
@media only screen and (max-width: 480px) {
  section { padding: 25px 0;}
  .contact-form {
    width: 100;
  }
  .meals-selection li {
      display: block;
      margin: 0 auto;
      width: 70%;
  }

}
}
