

@media only screen and (max-width: 1200px) {
.hero-text-box {

      width: 100%;
      top:70%;
      left:60%;
      transform: translate(-50%, -50%);
      text-align: left;
  }

.row {padding: 0 2%;}


}

@media only screen and (max-width: 1023px) {
  body {font-size: 18px;}
  section {padding: 60px 0;}

  .step-box {margin-top: 10px;}
  .work-step {margin-bottom: 40px;}
  .first-button .second-button {
    font-size: 18px;
    padding: 10px 30px;
  }


}

@media only screen and (max-width: 767px) {
  h1 {font-size: 200%}


}

@media only screen and (max-width: 480px) {


}
