/*----------------------------------------------*/
/*-------BASIC SET UP---------------------------*/
/*----------------------------------------------*/


* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;

}

/*.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}*/

/*----------------------------------------------*/
/*-------REUSABLE COMPONENTS---------------------------*/
/*----------------------------------------------*/

.row-main {
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    max-width: 1140px;
    margin: 0 auto;

}

section {
    padding: 80px 0;
}

.section-step {
    /*margin-top: 10px;*/
    /*background-color: orange;*/
}

.section-features {
    margin-bottom:2px;
    background-color: #f4f1f0;
}

.first-content {
    line-height: 145%;
    width: 90%;
    margin: 0 auto;
}

.box {
    padding: 1%;

}

.box img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border: 10px double #d35400;
    padding: 5px;
}


.section-location {
    background-color: #ffc6a0;
}

.location-feature {
    font-size: 21px;*/
    /*font-weight: 400;*/
}

/*----------------------------------------------*/
/*-------HEADER---------------------------*/
/*----------------------------------------------*/


header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,0.8))), url(http://www.sbs.com.au/food/sites/sbs.com.au.food/files/KC_Malaysian-laksa-2.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(http://www.sbs.com.au/food/sites/sbs.com.au.food/files/KC_Malaysian-laksa-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top:70%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: left;

}

h1 {
    margin-top:0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 280%;
    font-weight: 300;
    letter-spacing: 1.5px;
    word-spacing: 4px;
}

@-webkit-keyframes hello {
    from {color:black;}
    to   {color:white;}
}

@keyframes hello {
    from {color:black;}
    to   {color:white;}
}

h1 {
    -webkit-animation-name: hello;
            animation-name: hello;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    /*animation-iteration-count: 2;
    animation-direction: alternate;*/
    position: relative;
    /*animation-direction: alternate-reverse;*/
}


h2 {
    font-size: 180%;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/*.extend {
    margin-top: 100%;
    padding-top: 100%

}*/

h2:after {
    display: block;
    height: 2px;
    background-color: #d35400;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    content:" ";
    margin-top: 20px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    word-spacing: 3px;

}




.box p {
    font-size: 95%;
    line-height: 145%;

}

.big-icon {
    font-size: 350%;
    display: block;
    color: #d35400;
    margin-bottom: 10px;
    margin-right: 40px;
    text-align: center;
}

.meals-selection {
    list-style: none;
    width: 100%;

}

.meals-selection li {
    display: inline-block;
    /*float:left;*/
    width: 24%;
}

.meals-photo {
    width:100%;
    margin:1px;
    padding:0;
    overflow:hidden;
    background-color: #000;
}

.meals-photo img {
    opacity: 0.5;
    width: 100%;
    height: 32vh;
    -webkit-transform: scale(1.20);
            transform: scale(1.20);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.section-meals {
    padding: 0;
    border-width: thin;
}

.meals-photo img:hover {
    opacity: 1.0;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 2%;
    /*text-align: left;*/
    margin-top: 80px;
    width: 37%;
    font-weight: 500;
}

.app-screen {
    width: 90%;
}

.work-step {
    margin-bottom: 55px;

}
.work-step:last-of-type {
    margin-bottom: 80px;
}
.work-step div {
    color: #d35400;
    border: 2px solid #d35400;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 20px;

}


.app-button img{
    height: 50px;
    width: auto;
    margin-right: 10px;

}

.section-menu {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.8))), url(http://parsmedia.my/wp-content/uploads/Char-Kway-Teow-Feat-T-e1470721071114.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url(http://parsmedia.my/wp-content/uploads/Char-Kway-Teow-Feat-T-e1470721071114.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*height: 110vh;*/
}

.menu {
    color:white;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;

}
.section-features{
    background-color: #f4f1f0;
}

.first-button {
      background-color: #d35400;
      border:1px solid #fff;
      color: white;
      padding: 15px 32px;
      /*text-align: center;*/
      border-radius: 20px;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 350;
      margin: 4px 4px;
      cursor: pointer;
}

.first-button:hover,
.first-button:active{
      background-color: #6d2b00;
}

.second-button {
      background-color: #d35400;
      border:1px solid #fff;
      color: white;
      padding: 15px 32px;
      /*text-align: center;*/
      border-radius: 20px;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 350;
      margin: 4px 4px;
      margin-left: 6px;
      cursor: pointer;
}

.second-button:hover,
.second-button:active{
      background-color: #6d2b00;
}

.logo {
  float:left;
  width: 12%;
  height: 12%;
  margin-top: 15px;
}

.name {
  font-style: italic;
  float: left;
  font-size: 180%;
  margin-top: 100px;
  color:rgb(251, 251, 246);
  font-weight: 300;
  text-shadow: 5px 5px 5px #d35400;
}

.main-nav{
      margin: 70px;
      margin-right: 0;
      float: right;
      list-style: none;
}

.main-nav li {
      display: inline-block;
      margin-left: 35px;
      position: relative;

}


.main-nav li a {
      color: #fff;
      text-decoration: none;
      letter-spacing: 1.5px;
      font-size: 107%;
      font-weight: 350;
      padding: 8px;

}

.main-nav li a:hover,
.main-nav li a:active {
      border-bottom: 3px solid #d35400;
}

.main-nav li a:hover::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      height: 10px;
      width: 100%;
      background: #444;
      background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #d35400), to(transparent));
      background: linear-gradient(to right, transparent 0%, #d35400 50%, transparent 100%);
}


blockquote {
      font-style: italic;
      padding: 2%;
      line-height: 145%;
      position: relative;
      margin-top: 40px;
}

cite {
      font-size: 90%;
      margin-top: 25px;
      display: block;
}

cite img {
      border-radius: 40%;
      height: 100px;
      width: 100px;
      margin-right:10px;
      vertical-align: middle;
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

.section-form {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.8))), url(https://i0.wp.com/www.whitbitskitchen.com/wp-content/uploads/2015/11/Sambal-Shrimp-1-1.jpg);
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url(https://i0.wp.com/www.whitbitskitchen.com/wp-content/uploads/2015/11/Sambal-Shrimp-1-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  color:white;
  letter-spacing: 1.5px;

}

#sign-up {
      color: white;
}

.contact-form {
      width: 60%;
      margin: 0 auto;
}

input[type=text],
input[type=email],
textarea, select {
      width: 100%;
      padding: 7px;
      border-radius: 3px;
      border: 1px solid rgb(228, 84, 14);
}


input[type=submit] {
      background-color: #d35400;
      width: 100%;
      border:1px solid #fff;
      color: white;
      padding: 15px 32px;
      border-radius: 20px;
      text-decoration: none;
      font-size: 20px;
      font-weight: 350;
      margin: 4px 4px;
      cursor: pointer;

}

input[type=submit]:hover,
input[type=submit]:active {
      background-color: #6d2b00;
}

input[type=checkbox] {
      margin: 10px 5px 10px 0;
      -webkit-transform : scale(1.2);
              transform : scale(1.2);
}

*:focus {outline:none;}

.findus {
      color:rgb(102, 99, 100);
}

footer {
      background-color: rgb(52, 51, 54);
      height: 200px;
      padding: 40px;
}

.footer-nav {
      list-style: none;
      float: left;

}

.social-nav {
      list-style: none;
      float: right;

}

.footer-nav li,
.social-nav li{
      display:inline-block;
      margin-right: 20px;
}

.footer-nav li:last-child,
.social-nav li:last-child {
      margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-nav li a:link,
.social-nav li a:visited {
      text-decoration: none;
      color: #a8a8a7;
      border: 0;
      -webkit-transition: color 0.2s;
      transition: color 0.2s

}

#contact {
      margin:20px 0;
      text-align: center;

}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-nav li a:hover,
.social-nav li a:active {
      color: #ec9962;
}

footer p {
      text-align: center;
      word-spacing: 1.5px;
      font-size:90%;
      margin-top: 20px;
      color:#e0e0de;
      letter-spacing: 1.2px;
}

.social-nav li a:link,
.social-nav li a:visited {
      font-size: 140%;
}

.ion-social-facebook:hover {
      color:#3b5998;

}

.ion-social-twitter:hover {
      color:#55acee;
}

.ion-social-googleplus:hover {
      color: #dd4b39;
}

.ion-social-instagram:hover {
      color: #f5a835;
}

.custom {
    border: 1px solid white;
}

.custom:hover {
    border: 1px solid rgb(223, 119, 11);
    -webkit-box-shadow: 2px 4px 8px rgba(242, 127, 7, 0.94);
            box-shadow: 2px 4px 8px rgba(242, 127, 7, 0.94);
}

.js--wp-1,
.js--wp-2 {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated  {
  opacity: 1;
}

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: white;
}

.form-messages {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.success {
  background-color: #d35400;
  color: white;
}

.error {
  background-color: rgb(246, 7, 15);
  color: white;
}
