* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

.row {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(3, 2, 45, 0.73)), url(http://www.sbs.com.au/food/sites/sbs.com.au.food/files/KC_Malaysian-laksa-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

h1 {
    margin:0;
    color:#fff;
    font-size: 240%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 4.5px;

}
