/*----------------------------------------------*/
/*-------BASIC SET UP---------------------------*/
/*----------------------------------------------*/


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

/*.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}*/

/*----------------------------------------------*/
/*-------REUSABLE COMPONENTS---------------------------*/
/*----------------------------------------------*/

.row-main {
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;

}

.section-step {
    padding-top: 580px;
    /*background-color: orange;*/
}

.section-features {
    margin-bottom: 30px;
    background-color: #f4f1f0;
}

.first-content {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box {
    padding: 1%;
    /*line-height: 3;*/

}

.box img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border: 10px double #d35400;
    padding: 5px;


}


.section-location {
    background-color: #ffc6a0;

}

.location-feature {
    font-size: 21px;*/
    /*font-weight: 400;*/
}

/*----------------------------------------------*/
/*-------HEADER---------------------------*/
/*----------------------------------------------*/


header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url(http://www.sbs.com.au/food/sites/sbs.com.au.food/files/KC_Malaysian-laksa-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

h1 {
    margin-top:0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 280%;
    font-weight: 300;

    letter-spacing: 1.5px;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/*.extend {
    margin-top: 100%;
    padding-top: 100%

}*/

h2:after {
    display: block;
    height: 2px;
    background-color: #d35400;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    content:" ";
    margin-top: 20px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    word-spacing: 3px;

}




.box p {
    font-size: 95%;
    line-height: 145%;

}

.big-icon {
    font-size: 350%;
    display: block;
    color: #d35400;
    margin-bottom: 10px;
    margin-right: 40px;
    text-align: center;
}

.meals-selection {
    list-style: none;
    width: 100%;
}

.meals-selection li {
    display: block;
    float:left;
    width: 25%;
}

.meals-photo {
    width:100%;
    margin:0;
    padding: 0;
    overflow:hidden;
    background-color: #000;
}

.meals-photo img {
    opacity: 0.5;
    width: 100%;
    height: 32vh;
    transform: scale(1.20);
    transition: transform 0.5s, opacity 0.5s;
}

.section-meals {
    padding: 0;
    border-width: thin;
}

.meals-photo img:hover {
    opacity: 1.0;
    transform: scale(1.03);
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 2%;
    /*text-align: left;*/
    margin-top: 80px;
    width: 37%;
    font-weight: 500;
}

.app-screen {
    width: 90%;
}

.work-step {
    margin-bottom: 55px;

}
.work-step:last-of-type {
    margin-bottom: 80px;
}
.work-step div {
    color: #d35400;
    border: 2px solid #d35400;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 20px;

}


.app-button img{
    height: 50px;
    width: auto;
    margin-right: 10px;

}

.section-menu {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url(http://parsmedia.my/wp-content/uploads/Char-Kway-Teow-Feat-T-e1470721071114.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*height: 110vh;*/
}

.menu {
    color:white;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

@keyframes hello {
    from {color:black;}
    to   {color:white;}
}

.section-menu .menu {
    animation-name: hello;
    animation-duration: 10s;
    /*animation-iteration-count: 2;
    animation-direction: alternate;*/
    position: relative;
    /*animation-direction: alternate-reverse;*/
}


.section-features{
    background-color: #f4f1f0;
}


/*----------------------------------------------*/
/*-------BUTTON---------------------------*/
/*----------------------------------------------*/

/*
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-indent: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #d35400;
    border: 1px solid #d35400;
    color:#fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #d35400;
    color: #d35400;
}

.btn:hover,
.btn:active{
    background-color: #a04000;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #a04000;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #a04000;
    color:#fff;
}*/

.first-button {
      background-color: #d35400;
      border:1px solid #fff;
      color: white;
      padding: 15px 32px;
      /*text-align: center;*/
      border-radius: 20px;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 350;
      margin: 4px 4px;
      cursor: pointer;
}

.first-button:hover,
.first-button:active{
      background-color: #6d2b00;
}

.second-button {
      background-color: #d35400;
      border:1px solid #fff;
      color: white;
      padding: 15px 32px;
      /*text-align: center;*/
      border-radius: 20px;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 350;
      margin: 4px 4px;
      margin-left: 6px;
      cursor: pointer;
}

.second-button:hover,
.second-button:active{
      background-color: #6d2b00;
}

nav {
      margin-left: 130px;
}

.main-nav{
      margin:45px;
      float: right;
      list-style: none;
}

.main-nav li {
      display: inline-block;
      margin-left: 30px;
      /*margin-right: 5px;*/
      position: relative;

}


.main-nav li a {
      color: #fff;
      text-decoration: none;
      /*text-transform: uppercase;*/
      letter-spacing: 1.5px;
      font-size: 107%;
      font-weight: 350;
      padding: 8px;
}

.main-nav li a:hover,
.main-nav li a:active {
      border-bottom: 3px solid #d35400;
}

.main-nav li a:hover::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      height: 10px;
      width: 100%;
      background: #444;
      background: -webkit-linear-gradient(left, transparent 0%, #d35400 50%, transparent 100%);
      background: -o-linear-gradient(left, transparent 0%, #d35400 50%, transparent 100%);
      background: linear-gradient(to right, transparent 0%, #d35400 50%, transparent 100%);
}

/*.section-reviews {
      background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url(https://www.kcet.org/sites/kl/files/thumbnails/image/5366965410_61f93fcbbf_b_0.jpg);
      background-size: cover;
      background-position: center;

}*/

blockquote {
      font-style: italic;
      padding: 2%;
      line-height: 145%;
      position: relative;
      margin-top: 40px;
}

cite {
      font-size: 90%;
      margin-top: 25px;
      display: block;
}

cite img {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      margin-right:10px;
      vertical-align: middle;
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

/*blockquote:after {
    content: "\201E";
    font-size: 500%;
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;

}*/

.section-form {
      background-color: rgb(245, 215, 193);
}
