* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

.row {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(http://www.sbs.com.au/food/sites/sbs.com.au.food/files/KC_Malaysian-laksa-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

h1 {
    margin-top:0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 280%;
    font-weight: 300;

    letter-spacing: 1.5px;
    word-spacing: 4px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-indent: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #d35400;
    border: 1px solid #d35400;
    color:#fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border-radius: 200px;
    border: 1px solid #d35400;
    color:#d35400;
}

.btn:hover,
.btn:active{
    background-color: #a04000;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #a04000;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #a04000;
    color:#fff;
}
