/*----------------------------------------------*/
/*-------BASIC SET UP---------------------------*/
/*----------------------------------------------*/


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

/*----------------------------------------------*/
/*-------REUSABLE COMPONENTS---------------------------*/
/*----------------------------------------------*/

.row-main {
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;

}

.first-content {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box {
    padding: 1%;


}

/*----------------------------------------------*/
/*-------HEADER---------------------------*/
/*----------------------------------------------*/


header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url(http://www.sbs.com.au/food/sites/sbs.com.au.food/files/KC_Malaysian-laksa-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

h1 {
    margin-top:0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 280%;
    font-weight: 300;

    letter-spacing: 1.5px;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #d35400;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    content:" ";
    margin-top: 20px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    
}

.box p {
    font-size: 95%;
    line-height: 145%;

}

.big-icon {
    font-size: 350%;
    display: block;
    color: #d35400;
    margin-bottom: 10px;
    text-align: center;

}
/*----------------------------------------------*/
/*-------BUTTON---------------------------*/
/*----------------------------------------------*/

/*
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-indent: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #d35400;
    border: 1px solid #d35400;
    color:#fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #d35400;
    color: #d35400;
}

.btn:hover,
.btn:active{
    background-color: #a04000;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #a04000;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #a04000;
    color:#fff;
}*/

.first-button {
      background-color: #d35400;
      border:1px solid #fff;
      color: white;
      padding: 15px 32px;
      /*text-align: center;*/
      border-radius: 20px;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 350;
      margin: 4px 4px;
      cursor: pointer;
}

.first-button:hover,
.first-button:active{
      background-color: #6d2b00;
}

.second-button {
      background-color: #d35400;
      border:1px solid #fff;
      color: white;
      padding: 15px 32px;
      /*text-align: center;*/
      border-radius: 20px;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 350;
      margin: 4px 4px;
      margin-left: 6px;
      cursor: pointer;
}

.second-button:hover,
.second-button:active{
      background-color: #6d2b00;
}

nav {
      margin-left: 130px;
}

.main-nav{
      margin:45px;
      float: right;
      list-style: none;
}

.main-nav li {
      display: inline-block;
      margin-left: 30px;
      /*margin-right: 5px;*/
}


.main-nav li a {
      color: #fff;
      text-decoration: none;
      /*text-transform: uppercase;*/
      letter-spacing: 1.5px;
      font-size: 107%;
      font-weight: 350;
      padding: 8px;
}

.main-nav li a:hover,
.main-nav li a:active {
      border-bottom: 3px solid #d35400;
}
